body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
}

.left {
  width: 60%;
  height: 100vh;
  background-color: white;
}

.left__container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 20px;
}

.left__container__title>p {
  font-size: 24px;
  margin-bottom: 10px;
}

.left__container__title>h1 {
  font-weight: bold;
  font-size: 46px;
  margin: 20px 0 100px 20px;
  background: linear-gradient(45deg, #847ebe, #181441, #24243e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 15s ease infinite;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.left__container__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.radio__btns-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.radio__btns-wrapper input[type="radio"] {
  display: none;
}

.radio__btns-wrapper label {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.radio__btns-wrapper label:hover {
  background-color: #f2f2f2;
}

.radio__btns-wrapper input[type="radio"]:checked+label {
  background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
  content: ;
  color: #fff;
  border-color: #333;
}

#search-data-input {
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: none;
  align-self: center;
  font-size: 18px;
}



#button {
  background: linear-gradient(92.01deg, #8ea7ff 0%, #7291ff 100%);
  color: #fff;
  border-color: 2px solid #333;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.3s;
}

#button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 32px 0 rgba(0, 0, 0, 0.19);
  /* тень, которая будет добавлена при наведении на кнопку */
  transform: translateY(-2px);
  /* движение кнопки вверх при наведении */
}

#button::after {
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
}

#button:hover::after {
  opacity: 1;
}


aside {
  width: 40%;
  height: 100vh;
  background-color: #F8F8F8;
  ;
}

.favorite__jokes-header {
  font-weight: bold;
  font-size: 32px;
  margin: 20px 0 0 20px;
  background: linear-gradient(45deg, #847ebe, #181441, #24243e);
  /* градиентный фон для заголовка */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* скрытие цвета текста */
  animation: gradient 15s ease infinite;
}

.hiden {
  display: none;
}